<!DOCTYPE html>
<html ng-app="gemStore">
  <head>
    <link rel="stylesheet" type="text/css" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css" />
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.17/angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
  </head>
  <body ng-controller='StoreController as store'>
    <div class="product row" ng-repeat='product in store.products' ng-hide='product.soldOut'>
      <h3>
        {{product.name}}
        <em class="pull-right">{{product.price | currency}}</em>
        <button ng-show='product.canPurchase'>Purchase</button>
      </h3>

      <section class="tab" ng-controller='TabController as tab'>
        <ul class="nav nav-pills">
          <li ng-class='{ active:tab.isSet(1) }'>
            <a href ng-click='tab.setTab(1)'>Description</a></li>
          <li ng-class='{ active:tab.isSet(2) }'>
            <a href ng-click='tab.setTab(2)'>Specs</a></li>
          <li ng-class='{ active:tab.isSet(3) }'>
            <a href ng-click='tab.setTab(3)'>Reviews</a></li>
        </ul>
        <div ng-show='tab.isSet(1)'>
          <h4>Description</h4>
          <blockquote>{{ product.name }}</blockquote>
        </div>
        <div ng-show='tab.isSet(2)'>
          <h4>Specs</h4>
          <blockquote>Shine: </blockquote>
        </div>
        <div ng-show='tab.isSet(3)'>
          <h4>Reviews</h4>
          <ul>
            <li ng-repeat='review in product.reviews'>
            <blockquote>{{review.body}}</blockquote>
            </li>
          </ul>
        </div>
      </section>
    </div>
  </body>
</html>

